#Colour constants for use in echo -e statements
# shellcheck disable=SC2034
{
  RED='\033[1;31m'
  GREEN='\033[1;32m'
  YELLOW='\033[1;33m'
  BLUE='\033[1;34m'
  NC='\033[0m' # No Colour
}

colorflag="--color"
export LS_COLORS='no=00:fi=00:di=01;31:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32'

# shellcheck disable=SC2139
{
  # List all files colorized in long format
  alias l="ls -lF ${colorflag}"
  alias ll="ls -lF ${colorflag}"

  # List all files colorized in long format, including dot files
  alias la="ls -laF ${colorflag}"

  # List only directories
  alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

  # Always use color output for `ls`
  alias ls="command ls ${colorflag}"
}

# Ack
alias ack='ack-grep'

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though


# GIT
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
alias gs='git status'
alias gpl='git pull'
alias gc='git commit -v'
alias gcaa='git add --all && git commit -v -a'
alias gp='git push'
alias ga='git add'
alias gaa='git add --all'
alias gd='git diff'
alias gl='git log'
alias glg='git log --graph --oneline --decorate'
alias gt='git tag'
# 'cd' to a git repo root using fzf
alias repo='cd /home/dev/git_work/$(find ~/git_work -maxdepth 1 -type d -printf "%P\n" | fzf)'
# 'cd' to the root of the current repo
alias root='cd $(git rev-parse --show-toplevel)'

alias gcof='git_checkout_fuzzy_find'

git_checkout_fuzzy_find() {
  local branches
  # Get list of branches removing leading '* ' or '  '
  branches="$(git branch --no-color | sed -r 's/^. //')"

  if [ -n "${branches}" ]; then
    local selected_branch
    # Use echo pipe rather than her string as here string messes up the
    # syntax highlighting
    # shellcheck disable=SC2039
    selected_branch="$(echo -e "${branches}" | fzf)"
    if [ -n "${selected_branch}" ]; then
      echo "Checking out branch: ${BLUE}${selected_branch}${NC}"
      git checkout "${selected_branch}"
    else
      echo "No brance selected" >&2
      return 1
    fi
  else
    echo "No brances found" >&2
    return 1
  fi
}

# Java
alias smj='cd src/main/java'
alias stj='cd src/test/java'
alias smr='cd src/main/resources'
alias str='cd src/test/resources'

# tmux
alias tks='tmux kill-session -t '
alias ta='tmux a -t '
alias td='tmux detach '
alias tls='tmux ls '

# tmuxinator

# vim

alias vimrc='pushd ~/.vim >/dev/null && vim vimrc && popd >/dev/null'

# docker
alias ds='echo -e "\e[96mSummary\e[0m" && docker system df && echo && echo -e "\e[96mImages\e[0m" && docker images && echo "" && echo -e "\e[96mAll containers\e[0m" && docker ps -a -s && echo "" && echo -e "\e[96mRunning containers\e[0m" && docker ps && echo ""'

# gradle 

# open all gradle files in vim
alias vg='if [ -f build.gradle ]; then vim build.gradle ./**/*.gradle; else echo -e "${RED}No root build.gradle file found${NC}"; return 1; fi'

# gradlew clean build
gradleWrapper() {
    if [ -f build.gradle ]; then 
        ./gradlew "$@" 
    else 
        # shellcheck disable=SC2039
        echo -e "${RED}No root build.gradle file found${NC}" 
        return 1 
    fi
}

alias gwcb='gradleWrapper clean build'
alias gw='gradleWrapper'


#Stops zsh globbing urls when using HTTPie, curl and wget
alias http='noglob http'
alias curl='noglob curl'
alias wget='noglob wget'

# requires 'autoload -U zmv' in .zshrc
alias zcp='zmv -C'
alias zln='zmv -L'

displayCurrentJava() {
    echo "JAVA_HOME=${BLUE}$(readlink -f "${JAVA_HOME}")${NC}"
    #sdk current java
    java -version
}

# JDK switching
alias j='displayCurrentJava'
alias j8='if [ -d ~/.sdkman ]; then sdk use java 8.0.181-zulu && displayCurrentJava; else echo -e "${RED}SDKMan not installed!${NC}"; return 1; fi'
alias j10='if [ -d ~/.sdkman ]; then sdk use java 10.0.2-zulu && displayCurrentJava; else echo -e "${RED}SDKMan not installed!${NC}"; return 1; fi'
alias j12='if [ -d ~/.sdkman ]; then sdk use java 12.0.2-zulu && displayCurrentJava; else echo -e "${RED}SDKMan not installed!${NC}"; return 1; fi'

# Directory history switching using FZF with fallback
# Usage: d      # pick from a list of recent directories
# Usage: d foo  # pick from a list of recent directories matching foo
directory_history_fuzzy_find() {
  local sub_str="$1"
  
  local dir_list
  if [ -n "${sub_str}" ]; then
    # shellcheck disable=SC2039
    dir_list="$(dirs -v | grep -F "${sub_str}" | head -11 | tail -n+2)"
  else
    # shellcheck disable=SC2039
    dir_list="$(dirs -v | head -11 | tail -n+2)"
  fi

  if command -v fzf >/dev/null; then
    # shellcheck disable=SC2039
    # herestrings mess up the syntax highlighting for some reason
    selected_line="$(echo "${dir_list}" | fzf)"

    # shellcheck disable=SC2039
    # herestrings mess up the syntax highlighting for some reason
    dir_num="$(echo "${selected_line}" | cut -f1)"

    cd -"${dir_num}" > /dev/null
  else
    # shellcheck disable=2039
    echo "${dir_list}"
  fi
}

alias d='directory_history_fuzzy_find'

alias set_ssh_for_this_repo='git config core.sshCommand "ssh -i $(find ~/.ssh -type f -not -name "*.*" -not -name "config" -not -name "known_hosts" | fzf) -F /dev/null"'

# vim: set tabstop=2 shiftwidth=2 expandtab :
