colorflag="--color"
export LS_COLORS='no=00:fi=00:di=01;31:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32'

# List all files colorized in long format
alias l="ls -lF ${colorflag}"
alias ll="ls -lF ${colorflag}"

# List all files colorized in long format, including dot files
alias la="ls -laF ${colorflag}"

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# Always use color output for `ls`
alias ls="command ls ${colorflag}"

# Ack
alias ack='ack-grep'

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though

# GIT
alias gs='git status'
alias gpl='git pull'
alias gc='git commit -v'
alias gp='git push'
alias ga='git add'
alias gaa='git add --all'
alias gw='cd ~/git_work'
alias gd='git diff'
alias gl='git log'

# Java
alias smj='cd src/main/java'
alias stj='cd src/test/java'
alias smr='cd src/main/resources'
alias str='cd src/test/resources'

# tmux
alias tks='tmux kill-session -t '
alias ta='tmux a -t '
alias td='tmux detach '
alias tls='tmux ls '

# tmuxinator

# docker
alias ds='echo -e "\e[96mSummary\e[0m" && docker system df && echo && echo -e "\e[96mImages\e[0m" && docker images && echo "" && echo -e "\e[96mAll containers\e[0m" && docker ps -a -s && echo "" && echo -e "\e[96mRunning containers\e[0m" && docker ps && echo ""'

# open all gradle files in vim
alias vg='if [ -f build.gradle ]; then vim build.gradle ./*/build.gradle; else echo "No build.gradle file found"; return 1; fi'

#Stops zsh globbing urls when using HTTPie, curl and wget
alias http='noglob http'
alias curl='noglob curl'
alias wget='noglob wget'
